.App {
  text-align: center;
}

.login-container {
  width: 300px;
  margin: 0 auto;
}

.login-form {
  margin-top: 50px;
}

.login-button {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .login-container {
    width: 80%;
  }
}
